In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dados = pd.read_csv("dados/dados_estudantes.csv", sep=";")

dados.head()

,Id,Turma,Sexo,Idade,Alt,Peso,Filhos,Fuma,Toler,Exerc,Cine,OpCine,TV,OpTV
0,1,A,F,17,1.60,60.5,2,NAO,P,0,1,B,16,R
1,2,A,F,18,1.69,55.0,1,NAO,M,0,1,B,7,R
2,3,A,M,18,1.85,72.8,2,NAO,P,5,2,M,15,R
3,4,A,M,25,1.85,80.9,2,NAO,P,5,2,B,20,R
4,5,A,F,19,1.58,55.0,1,NAO,M,2,2,B,5,R

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      50 non-null     int64
 1   Turma   50 non-null     object
 2   Sexo    50 non-null     object
 3   Idade   50 non-null     int64
 4   Alt     50 non-null     float64
 5   Peso    50 non-null     float64
 6   Filhos  50 non-null     int64
 7   Fuma    50 non-null     object
 8   Toler   50 non-null     object
 9   Exerc   50 non-null     int64
 10  Cine    50 non-null     int64
 11  OpCine  50 non-null     object
 12  TV      50 non-null     int64
 13  OpTV    50 non-null     object
dtypes: float64(2), int64(6), object(6)
memory usage: 5.6+ KB

In [8]:
dados['Turma'].value_counts()

Turma
A    26
B    24
Name: count, dtype: int64